html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

#logo {
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  transition: transform ease 0.5s;

  margin-bottom: 2rem;
}
#logo:hover {
  transform: scale(1.2);
}

#heading {
  width: 100%;
  text-align: center;
  /* font-size: 5rem; */
  /* margin-left: 2.5rem; */
}

/* STYLE FOR LOGIN */
body {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
}
.login_page {
  /* background-color: red; */
  text-align: center;
  align-items: center;
  font-size: 2.5rem;
  width: 060vw;
  margin-top: 5vh;
  color: coral;
  font-weight: lighter;

  /* padding-left: 3rem;
    padding-right: 3rem; */
  padding: 10rem 2.5rem;
  box-shadow: 0px 0px 10px 0px coral;
}
.name {
  width: 100%;
  position: relative;
  height: 5rem;

  overflow: hidden;
}
.name input {
  width: 100%;
  height: 100%;
  color: black;
  padding-top: 2rem;
  border: none;
  outline: none;
}
.name label {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
}
.name label::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid cornflowerblue;
  left: 0px;
  bottom: -1px;
  transform: translateX(-100%);
  transition: all 0.5s ease-in-out;
}
.content_name {
  font-size: 1.5rem;
  position: absolute;
  bottom: 3px;
  left: 0px;
  transition: all 0.3s ease-in-out;
}
.name input:focus + .label_name .content_name,
.name input:valid + .label_name .content_name {
  transform: translateY(-125%);
  font-size: 1.8rem;
  font-weight: bold;
  color: cornflowerblue;
}
.name input:focus + .label_name::after,
name input:valid + .label_name::after {
  transform: translateX(0%);
}

/* email */

.email {
  margin-top: 1.5rem;
  width: 100%;
  position: relative;
  height: 5rem;

  overflow: hidden;
}
.email input {
  width: 100%;
  height: 100%;
  color: black;
  padding-top: 2rem;
  border: none;
  outline: none;
}
.email label {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
}
.email label::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid cornflowerblue;
  left: 0px;
  bottom: -1px;
  transform: translateX(-100%);
  transition: all 0.5s ease-in-out;
}
.content_email {
  font-size: 1.5rem;
  position: absolute;
  bottom: 3px;
  left: 0px;
  transition: all 0.3s ease-in-out;
}
.email input:focus + .label_email .content_email,
.email input:valid + .label_email .content_email {
  transform: translateY(-125%);
  font-size: 1.8rem;
  font-weight: bold;
  color: cornflowerblue;
}
.email input:focus + .label_email::after,
email input:valid + .label_email::after {
  transform: translateX(0%);
}

/* password */

.password {
  margin-top: 1.5rem;
  width: 100%;
  position: relative;
  height: 5rem;

  overflow: hidden;
}
.password input {
  width: 100%;
  height: 100%;
  color: black;
  padding-top: 2rem;
  border: none;
  outline: none;
}
.password label {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
}
.password label::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid cornflowerblue;
  left: 0px;
  bottom: -1px;
  transform: translateX(-100%);
  transition: all 0.5s ease-in-out;
}
.content_password {
  font-size: 1.5rem;
  position: absolute;
  bottom: 3px;
  left: 0px;
  transition: all 0.3s ease-in-out;
}
.password input:focus + .label_password .content_password,
.password input:valid + .label_password .content_password {
  transform: translateY(-125%);
  font-size: 1.8rem;
  font-weight: bold;
  color: cornflowerblue;
}
.password input:focus + .label_password::after,
password input:valid + .label_password::after {
  transform: translateX(0%);
}

#additional {
  font-size: 1.5rem;
  padding-top: 2rem;
}
.forgot {
  text-decoration: underline;
  color: coral;
  transition: all 0.3s ease;
}

.forgot:hover {
  color: red;
  font-size: 1.6rem;
}

#submit {
  border: none;
  margin-top: 3.5rem;
  font-size: 2.5rem;
  padding: 0.5rem 3rem;
  box-shadow: 0px 0px 5px 0px coral;
  background: none;
  border-radius: 50px;
  transition: 0.5s ease-in-out;
}
#submit:hover {
  background-color: coral;
  box-shadow: none;
  color: white;
}
