html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  height: 100%;
  overflow: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  /* background-color: black; */
  color: white;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  height: 100vh;
}

/* everything in the header STARTS here */

/* #nav_bar {
  height: 10%;
  display: flex;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8));
} */
#logo {
  /* margin-left: 2.5rem; */
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: transform ease 0.5s;
}
#logo:hover {
  transform: translateY(-5px);
}

#heading {
  color: white;
  width: 100%;
  font-style: italic;
  text-align: center;
  font-weight: lighter;
  letter-spacing: 1rem;
}
/* h1 {
  font-size: 4.5rem;
  font-family: "Anton" sans-serif;
}
h2 {
  font-size: 2.5rem;
  margin-top: 3rem;
} */

/* everything in the header ENDS here */

/* ARTICLE */

.a {
  max-width: 75vw;
  align-items: center;
  display: inline-block;
}
/* img {
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 50vh;
} */
p {
  display: inline-block;
  font-size: 3rem;
  text-align: center;
  width: 100vw;
  height: 100vh;
  padding-top: 40vh;
  padding-bottom: 40vh;
  padding-left: 15vw;
  padding-right: 15vw;
}
span {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: lighter;
}
.p0 {
  display: inline-block;
  font-size: 4rem;
  font-weight: bolder;
  font-style: italic;
  text-align: center;
  width: 100vw;
  height: 100vh;
  padding-top: 35vh;
  padding-bottom: 40vh;
  padding-left: 15vw;
  padding-right: 15vw;

  /* wwewew */
  font-size: 4rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)),
    url(../../Resources/Catalogue_resources/Others/ar-znpaQEiiHko-unsplash_edited.jpg);
  background-size: cover;
  background-position: center;
}
.p1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)),
    url(../../Resources/Catalogue_resources/Others/Jordan_wall.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.p2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)),
    url(../../Resources/Catalogue_resources/Others/nike_wall_edited.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.p3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)),
    url(../../Resources/Catalogue_resources/Others/Jordan_wall_2.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.p4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)),
    url(../../Resources/Catalogue_resources/Others/Vans_wall.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
/* ARTICLE */

#join {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
  text-decoration: none;
  font-style: normal;

  display: inline-block;
  padding: 0.2rem 2.5rem 0.2rem 2.5rem;
  background: none;
  font-family: "Montserrat", sans-serif;

  text-align: center;
  font-size: 1.5rem;
  color: white;
  border-radius: 5rem;
  cursor: pointer;
  transition: all ease-in-out 0.5s;
}
#join:hover {
  transform: scale(1.1);
  color: black;
  /* border: 0.1rem solid rgba(0, 0, 0, 0.5); */
  background-color: rgba(255, 255, 255, 0.7);
}
.icons {
  width: 35px;
  height: 35px;
  transition: all 0.5s ease-in-out;
  /* background-color: red; */
}
.icons:hover {
  transform: scale(1.1);
}
footer {
  text-align: center;
  width: 100vw;
  background-color: black;
  max-height: 10vh;

  padding-left: 42vw;
  padding-right: 42vw;
  padding-top: 30px;
  padding-bottom: 10rem;
}
footer h1 {
  font-weight: lighter;
}
